%p Dear #{@user.name},

%p Unfortunately the boat #{@boat.to_s} which you had in your favourites has now been sold.

- if @similar_boats.count > 0
  %p However, there are other similar listings which may be of interest to you.

  %ul
    - @similar_boats.each do |boat|
      %li #{link_to boat.manufacturer_model, boat_url(boat)}

%p
  Kind regards,
  %br
  The Team at #{link_to 'Rightboat', root_url}