= render layout: 'broker_area/common/broker_layout', locals: {tab: :iframes, sidebar: render('broker_area/common/iframes_sidebar')} do
  .h1-row
    h1 Edit IFrame
    = render partial: 'iframe_form'
