.panel
  %h3 Mails Stats
  .panel_contents
    .total
      %span
        Total mails sent (we are tracking Saved Searches Updated atm):
      %strong
        = total_sent

    .opened
      %span
        Total mails that were opened:
      %strong
        = total_opened

    .clicked
      %span
        Total mails that were clicked:
      %strong
        = total_clicked

    .leads
      %span
        Total Leads that were created from the mails:
      %strong
        = link_to(total_leads, admin_leads_path(q:{ created_at_gteq: created_at_gteq, created_at_lteq: created_at_lteq, saved_searches_alert_id_greater_than: 0 }))
