p Dear Rightboat Admin,
p #{@lead.boat.user.name} has requested a quality check for #{link_to "##{@lead.id}", lead_url(@lead)}.
p #{link_to 'View lead', lead_url(@lead)}
p Please respond to the client directly.
br
br
p Thank you!
