.cookies-warning.alert
  .wrapper.container
    %span.glyphicon.glyphicon-info-sign
    %span.content
      Our sites uses cookies - some are essential to make the site work;
      others help us improve the user experience.
      By selecting 'continue', you consent to the use of these cookies.
      To learn more about and how you can disable them,
      please read our #{link_to 'privacy statement', cookies_policy_home_path}.
    %button.close.btn.btn-sm.btn-warning(data-dismiss="alert") Continue
