- if Rails.env.production?
  :javascript
    window.google_trackConversion({
        google_conversion_id: 953777258,
        google_remarketing_only: false,
        google_custom_params: {
          conversion_value: #{Rails.env.development? ? 0 : lead_price}
        }
    });
    console.log('google conversion sent');

- if redirect_to_enquiries
  :javascript
    window.location = '#{member_enquiries_path}'
