- if Rails.env.production?
  :javascript
    var google_conversion_id = 953777258;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "G6jvCOilq2IQ6vjlxgM";
    var google_remarketing_only = false;
    var google_conversion_currency = "GBP";
    var google_conversion_value = #{Rails.env.development? ? 0 : lead_price};
  %script(type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js")

- if redirect_to_enquiries
  :javascript
    window.location = '#{member_enquiries_path}'
