#phone-popup.modal.fade
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} &times;
      .modal-body
        %h3 Oops! You didn't leave your phone number
        .text-center
          %p.lead
            You don't have to but if you do leave it, it will help us or the broker to get in contact with you as quickly as possible.
          %p
            Remember, your personal information is protected by #{link_to 'Rightboat Privacy Policy', privacy_policy_home_path, target: '_blank'}
        .row
          .col-xs-6
            = link_to 'Enquire with Phone Number', '#', class: 'enquiry-with-phone btn-flat btn-white', 'data-dismiss' => 'modal'
          .col-xs-6
            = link_to 'Enquire without Phone Number', '#', class: 'enquiry-without-phone btn-flat btn-white', 'data-dismiss' => 'modal'