svg.view-point-mark(width="30" height="30" style="left: #{mark_info[:x]}; top: #{mark_info[:y]} transform: rotate(#{mark_info[:rotate]});")
  path(fill="none" stroke="#0057FF" stroke-linecap="round" stroke-linejoin="round" d="M27.465,15c0,0-7.672,7.175-11.906,7.175S7.893,18.963,7.893,15c0-3.964,3.432-7.177,7.666-7.177S27.465,15,27.465,15z")
