#main-content.container
  .row
    .col-md-12
      %h4 Postal Address
      %p
        Head Office
        %br
        Castle Malwood
        %br
        Minstead
        %br
        Hampshire
        %br
        S043 7PE
        %br
        England
        %br
        = mail_to 'info@rightboat.com', nil
        %br
        333 322 2628 or
