#main_content.container
  .row
    .col-md-12
      %h1 Marine Services

      %p However or wherever you choose to do your boating, from the inland waterways of the UK, to the high seas of the Atlantic Ocean, the bargain buy or the superyacht you’ve always dreamt of, we know how important it is to protect your investment right from the start.
      %p The trusted partners we work with are ones we would all happily use to look after our own boats.  We know  that the products and services they supply cater for an international marketplace, are well managed, of significant size and will meet their long term commitments.   In a busy marketplace, you can be assured that every recommendation we make is taken from first hand experience.  A great reputation is the key to our successful business.
      %p Let us know what you need, and we will help make sure you're contacted by the best supplier.
      %br
      %table.table.table-bordered
        %tr
          %td
            %p The simple, free, no-obligation way to gain access to all the information you need to get out onto the water.
            %p From selling your boat, to arranging finance or insurance, our  trusted partners are here to help you.
            %br
            = render 'marine_enquiries/form'
          %td
            %p
              %b What happens next?
            %ul.list-disc
              %li We will liaise direct with a recommended partner specialising in the service you require
              %li The partner will engage directly with you as soon as possible
