#main-content.container
  .row
    .col-md-3
      = image_tag "advert-left.png"

    .col-md-9
      %h1 Terms of use

      %h2 Terms and conditions of use
      %p These are the terms and conditions of use for the website www.rightboat.com. You should read these terms and conditions carefully before using this website. You may print a copy of the terms and conditions for reference. By accessing the site, you accept the terms and conditions of use. We reserve the right to change the terms and conditions at any time. We will notify you of any changes by email or by notice on this website.
      %h2 Ownership
      %p 'We' are Rightboat Ltd, Castle Malwood, Minstead, Hampshire, S043 7PE. Our Company Registration Number is 5926560. Our website www.rightboat.com is available to private individuals and registered members who wish to buy or sell boats and/or related services.
      %h2 Member-only services
      %p Certain services on this website are available to members only. To become a member, you must register your details on this website (see below). The information you provide when you register as a member will enable us to provide you with access to those parts of this website that are only available to members. It will also enable us to supply certain services requested by you that are only available to members.
      %p Only registered members may use the following services on this website:
      %ul.list-disc
        %li selling a boat
        %li advertising a boat
        %li getting a valuation for a boat
        %li sending or receiving email or text alerts
        %li using their online account.
      %p We reserve the right to change or remove any member-only or other services available from this website. We will advise you of any changes by email or notice on this website.
      %h2 Registration
      %p You must register your details on the registration form provided. We will confirm our acceptance of your registration by email. Once registered, you must not disclose your login username or password to any other party.
      %h2 Ownership of content
      %p Rightboat Ltd owns the copyright and other intellectual property rights to all material on this website. You may download material from this website to use the services available from the website. You must not copy, transmit, modify, republish or store any material or information from the website without written consent from Rightboat Ltd.
      %h2 Accuracy of content supplied to Rightboat
      %p You are responsible for ensuring the accuracy of any content supplied to us for use on www.rightboat.com. You undertake to indemnify us for any consequential loss resulting from false or inaccurate information.
      %h2 Warranty
      %p The information we provide on www.rightboat.com is for general interest only and does not constitute advice or any form of contract. While we aim to ensure that the information on this website is complete, accurate and up-to-date, we make no warranty that this is the case.
      %h2 Mis-use of the website
      %p In using this website, you must not:
      %ul.list-disc
        %li submit any content that infringes third-party intellectual property rights, trademarks, patents or copyright
        %li submit false, inaccurate or misleading content
        %li submit content that is unlawful, obscene, defamatory, libelous, abusive or invades the privacy of other users
        %li act in any way that violates any national or international law
        %li alter, delete, interfere with or damage any part of this website.
      %h2 Liability
      %p Rightboat Ltd, its employees, suppliers, agents or partners is not liable to any party for any direct, indirect or consequential loss or damage in excess of 100% of the total fees payable in respect of an engagement, except where it may not lawfully exclude or limit liability. Each party expressly excludes liability for consequential loss or damage, loss of profit, business, revenue, goodwill or anticipated savings. Neither party excludes or limits liability for death or personal injury.
      %h2 Jurisdiction
      %p These terms and conditions are governed by English law. Any dispute relating to this website or the services available from this website will be subject to the jurisdiction of the English courts.
      %p All adverts must adhere to our strict quality control guidelines. We reserve the right to suspend or terminate any advert that fails to comply with these terms and conditions.
      %h2 Charges and Payment
      %p The Client will pay the membership invoices within 30 days, and all prices are exclusive of VAT unless otherwise specified.
      %p If any of the membership invoices becomes overdue by 30 days without prior agreement: the Company may suspend and revoke Services and Systems, including disabling/removing them from the Client’s servers if the company has been provided access previously; and the Client will be liable to pay interest to the company on such sum from the due date for payment at the annual rate of 4% above the base lending rate from time to time of Barclays Bank plc, accruing on a daily basis unless payment is made, whether before or after any judgment.
      %p The Client shall make all payments due under this Contact without any deduction whether by way of set-off, counterclaim, discount, abatement or otherwise unless the Client has a valid court order requiring an amount equal to such deduction to be paid by the Company to the Client.
      %h2 Termination
      %p Either party may terminate any engagement by one month’s written notice to the other, or by immediate written notice if the other is in material breach or if the other becomes insolvent. Please note, cancellations cannot be actioned on an account with outstanding debt.
      %h2 General
      %p These terms and conditions constitute the entire and only agreement between the parties in relation to its subject matter and replaces and extinguishes all prior or simultaneous agreements, undertakings, arrangements, understandings or statements of any nature made by the parties or any of them whether oral or written (and, if written, whether or not in draft form) with respect to such subject matter. Each of the parties acknowledges that it is not relying on any statements, warranties or representations given or made by any of them in relation to the subject matter of this agreement, save those expressly set out in these terms and conditions and that it shall have no rights or remedies with respect to such subject matter otherwise than under this agreement (and the documents executed at the same time as it or referred to in it) save to the extent that they arise out of the fraud or fraudulent misrepresentation of the other party. No variation of this agreement shall be effective unless in writing and signed as a Deed by or on behalf of a duty authorised representative of each party.
      %p This agreement shall be binding on the parties and their respective successors in title. Neither of the parties shall be entitled to assign this agreement or any of its rights and obligations under it except as permitted in this agreement.
      %p A failure by any party to exercise and any delay, forbearance or indulgency by any party in exercising any right, power or remedy under this agreement shall not operate as a waiver of that right, power or remedy or preclude its exercise at any subsequent time or no any subsequent occasion. The single or partial exercise of that right, power or remedy. No custom or practice of the parties at variance with the terms of this agreement shall constitute a waiver of the rights of any party under the agreement. The rights, powers and remedies provided in this agreement are cumulative and not exclusive of any rights, powers or remedies provided by law. Any party may release or compromise the liability of any other party or grant to such other party time or other indulgence without affecting its rights in relation to any other parties.
      %p Nothing in this agreement shall be considered to create a partnership, a relationship of principal and agent or a relationship of employer and employee between the parties.
      %p No term of this agreement shall be enforceable under the Contracts (Rights of Third Parties) Act 1999 by a person who is not a party, but this does not affect any right or remedy of a third party which exists or is available apart from other that Act.
      %h2 Definitions
      %p Where used in this document: ‘the Client’ means the company or individual commissioning work from the company, ‘the Company’ means Rightboat Ltd.
