.member-content
  %h1 Member Offers and Discounts
  %hr
  %p As a member of My Rightboat you can now save £’s, €’s and $’s by taking advantage of our special discounts, brought to you in association with our global partnership network.

  - if false
    %h4 Highly discounted London Boat Show tickets now available!
    .text-center= link_to image_tag('london_boat_show.jpg', alt: 'London Boat Show'), 'https://nbs-london.yourticketbooking.com/p/LondonBoatShow/uniqueCode/RB12'
    %br
    %p If you’re passionate about boating this is the only way to kick off the New Year, with Europe’s first Boat Show from 8 – 17 January at ExCeL London. With 1,000s of brands, boats, products and suppliers we’ve got it all covered.

    %h4 Where Adventure Starts, Pioneers Meet and Innovation Shines
    %p The 2016 London Boat Show cruises into ExCeL London on 8 January 2016. Kicking of the boating calendar, it’s the first place to see the latest trends, technologies and innovations – right at the heart of one of the World's most pioneering cities, London.  The Show will play host to over 300 of the most prestigious marine brands, from Britain's iconic names to international favourites. Immerse yourself in new attractions as well as old Show favourites.
    %p Boat show tickets make great Christmas presents too!  You can add your own personal message and have the gift voucher sent directly to the one you love.
    %p Book in advance for the London Boat Show and enjoy an exclusive ticket offer from only <b>£12.50*</b>, plus 15 years and under go free†.  *A fee of £1.95 applies per transaction.  Ticket offer valid any one day between 8 – 17 January 2016, limited offer ends midnight 7 January 2016 (includes Preview Day 8 January). †Terms and conditions apply for full details see website. E&OE.
    %p Click on the image above to buy your tickets now or click #{link_to 'here', 'https://nbs-london.yourticketbooking.com/p/LondonBoatShow/uniqueCode/RB12'}.
