.member-content
  %h1 <b>Welcome</b> to Rightboat.com – the global choice of boats for sale.
  %hr
  %p Now you are a member of <b>My Rightboat</b>, you have the world’s marine marketplace at your fingertips.
  %p Here you can see all your <b>favourite boats</b>, keep tabs on the <b>latest prices</b>, new boats on the market, <b>tailor</b> your personalised <b>alerts</b> and <b>save</b> your searches, plus lots more!
  %p We hope you enjoy using the site to search for your right boat!
  %p Please let us know what you think, #{mail_to 'info@rightboat.com', 'get in touch with us'}
  %p Good luck finding your next right boat!
  - unless user_signed_in?
    .alert.alert-info(role="alert")
      You need to #{link_to 'sign in', '#', class: 'user-login'} to continue.
