h4.popular-searches Boat Manufacturers
.popular-searches.boat-buyers-search
  = form_tag buyer_guides_path, method: :get do
    = select_tag :manufacturer_id, options_from_collection_for_select(@manufacturers, :id, :name, params[:manufacturer_id]), prompt: 'All', class: 'select-dark select-general'

javascript:
  $(function () {
    $(document).ready(function () {
      $('.boat-buyers-search select').change(function () {
        $(this).parent().submit();
      });
    });
  });
