#main-content.container
  .col-md-3.col-xs-12
    = render 'sidebar'
  .col-md-9.col-xs-12
    .title
      %h1= @page_title
    .guide-body
      %p If you are thinking of buying a second-hand boat, yacht, catamaran, fishing boat or any other type of craft, then our Boat Buyers Guides, which review all the information available about specific second-hand boats, are essential reading.
      %p We have written these reviews to help you find and buy the perfect boat for you. In the articles we give an overview of the boat, looking at what it was built to do, who it would suit, what industry experts have said, and what it is great for i.e. cruising round the world or leisurely sailing along rivers.
      %p We cover the boat specifications and the model variations; we also look at what is great about the boat, what to look out for on a pre-owned model and give advice on how to keep your boat in tip top condition once you’ve bought it.
      %p The boat reviews are shown below and we are adding to the list all the time, so have a read and find out more about the boat of your dreams.
    .search-results
      = render @guides
