%li{class: ('active' if action_name == 'boats_overview')}= link_to 'Boats Overview', boats_overview_broker_area_path
%li{class: ('active' if action_name == 'boats_manager')}= link_to 'Boat manager tool', boats_manager_broker_area_path
