%li{class: ('active' if action_name == 'boats_overview')}= link_to 'Boats Overview', boats_overview_broker_area_path
%li{class: ('active' if action_name == 'my_boats')}= link_to 'My Boats', my_boats_broker_area_path
%li{class: ('active' if action_name == 'boats_manager')}= link_to 'Boat Manager Tool', boats_manager_broker_area_path
