= render layout: 'broker_layout', locals: {tab: :my_account, sidebar: render('my_account_sidebar')} do
  %h1 Charges

  %p How it works:
  %ol
    %li List your boats for FREE
    %li List as many as you like
    %li No monthly fees
    %li Pay only for each lead supplied
    %li At just 0.02% of the listed price

  %p
    Our lead price means that if you receive a lead for a €100,000 listed boat, you will pay only €20.
    Please review your received leads ASAP. If you wish to query the validity of any lead, go to your leads page,
    select the lead and refer it to Rightboat quality control within 72 hours of receipt.
    %br
    Payment will be taken every two weeks in arrears by Credit Card or Direct Debit.

  %p
    Payment capture. see slide 11

  %p
    Quality guidelines - to get the very best out of your new Rightboat see:  [see guidelines doc in google shared folder]
