= render layout: 'broker_area/common/broker_layout', locals: {tab: :my_account, sidebar: render('my_account_sidebar')} do
  %h1 Messages

  %p
    = link_to 'Feb 2016 - Rightboat updated Terms and Conditions', tc_broker_area_path
