= render layout: 'broker_area/common/broker_layout', locals: {tab: :my_account, sidebar: render('my_account_sidebar')} do
  %h1 Messages

  %p
    = link_to 'See our latest video', 'https://youtu.be/l4e-R1g1K1c'

  %p
    = link_to 'Rightboat Introduction', '#'
