.boat-image-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.boat-image-card {
  margin: 6px;
  width: 127px;
  border: 2px solid silver;
  position: relative;
  box-sizing: content-box;

  &.is-while-marking {
    border: 2px solid royalblue;
  }
}
.boat-image-card-logo {
  position: relative;
  display: block;
  width: 127px;
  height: 85px;
}
.boat-image-card-logo-img {
  width: 100%;
  height: auto;
  display: block;
}
.layout-row-layout {
  position: relative;

  .boat-image-card {
    margin: 6px;
    width: 100%;
    //height: auto;
  }
  .boat-image-card-logo {
    width: 100%;
    height: auto;
  }
}
.boat-image-card-caption {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.boat-image-card-actions {
  display: flex;
  justify-content: space-between;
}

.files-drop {
  border-radius: 3px;
  border: 2px dashed #666;
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 6px 20px+6 6px;
  position: relative;

  &.is-dragover {
    border: 2px solid royalblue;
    color: royalblue;
  }
  &.is-uploading .files-drop-hint {
    @extend .inline-loading;
  }
}
.files-drop-hint {
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center;
  color: #666;
}

#boat_images_upload_form {
  display: none;
}

.layout-row {
  display: flex;
  align-items: stretch;

  &:not(:first-child) {
    margin-top: 1em;
  }
}
.layout-row-layout {
  width: 40%;
  flex-grow: 1;

  .boat-image-card.is-while-marking {
    .boat-image-card-logo {
      cursor: crosshair;
    }
  }
}
.layout-row-images {
  width: 60%;

  &:not(:first-child) {
    margin-left: 2ex;
  }
}

.edit-boat-image-popup {
  position: absolute;
  top: 85px;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 20px 0 rgba(51, 46, 0, 0.2) !important;
  cursor: default;
  width: 300px;

  .value-input {
    width: 100%;
  }
  .controls-row {
    margin-top: 8px;
  }
  //.secondary-btn {
  //  @include light-button;
  //  -webkit-user-select: none;
  //  user-select: none;
  //}
  .esc {
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
    padding: 0 !important;;
  }
}

.view-point-mark {
  position: absolute;
  margin: -15px 0 0 -15px;
  stroke-width: 2px;

  &.is-selected {
    path {
      fill: #0057ff;
    }
  }
}
