.regular-boat-image-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.regular-boat-image-card {
  margin: 6px;

  img {
    display: block;
  }
}
.files-drop-placeholder {
  border-radius: 3px;
  border: 1px dashed #444444;
  color: #444444;
  font-size: 1.2em;
  font-weight: bold;
  padding: 14px 25px;
  text-align: center;

  &:not(:first-child) {
    margin-top: 1em;
  }
}
