@import "active_admin/mixins/all";

.misspell-fixable {
  position: relative;
  cursor: pointer;

  ins {
    text-decoration: none;
  }
  small, sup {
    color: lightgray;
  }
}
.misspell-fixable-popup {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(51, 46, 0, 0.2) !important;
  cursor: default;
  width: 250px;

  .value-input {
    width: 100%;
  }
  .buttons {
    margin-top: 8px;

    .titleize-btn {
      @include light-button;
    }
  }
  .esc {
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
    padding: 0 !important;;
  }
  .error {
    color: red;
  }
}

.pipe-list {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;

    &::after {
      content: ' | ';

    }
    &:last-child::after {
      content: '';
    }
  }
}

@-webkit-keyframes rotating {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.loading::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #44484b;
  background-color: white;
  margin-left: 0.5ex;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

#misspell_fixable_result {
  position: fixed;
  left: 0;
  top: 0;
  padding: 8px;
  font-weight: bold;
  z-index: 100;

  &.error { background-color: lightcoral; }
  &.success { background-color: lightgreen; }
}
