.misspell-fixable {
  position: relative;
  cursor: pointer;

  ins {
    text-decoration: none;
  }
  small {
    color: lightgray;
  }
}
.misspell-fixable-popup {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(51,46,0,0.2);
  cursor: default;
  width: 150px;
  padding: 8px;


  .value-input {
    width: 100%;
  }
  .buttons {
    margin-top: 8px;
  }
  .titleize-btn, .esc {
    color: #38678b;
    cursor: pointer;
    display: inline;
  }
  .esc {
    position: absolute;
    right: 8px;
    top: 38px;
    &::before {
      content: '×'
    }
  }
  .error {
    color: red;
  }
}

.pipe-list {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;

    &::before {
      content: ' | ';

    }
    &:first-child::before {
      content: '';
    }
  }
}

@-webkit-keyframes rotating {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.loading::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #44484b;
  background-color: white;
  margin-left: 0.5ex;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

#misspell_fixable_result {
  position: fixed;
  left: 0;
  top: 0;
  padding: 8px;
  font-weight: bold;

  &.error { background-color: lightcoral; }
  &.success { background-color: lightgreen; }
}
