@import "active_admin/mixins/all";

.misspell-fixable {
  position: relative;
  cursor: pointer;

  ins {
    text-decoration: none;
  }
  small, sup {
    color: lightgray;
  }
}
.fixing-popup {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(51, 46, 0, 0.2) !important;
  cursor: default;

  .value-input {
    width: 100%;
  }
  .controls-row {
    margin-top: 8px;
  }
  .secondary-btn {
    @include light-button;
    -webkit-user-select: none;
    user-select: none;
  }
  .esc {
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
    padding: 0 !important;;
  }
  .error {
    color: red;
  }
}

.misspell-fixable-popup {
  width: 250px;
}

#split_popup {
  width: 386px;

  #word_right_btn {
    padding: 4px 3px 3px 5px;
  }
  label {
    display: inline-block;
    width: 36%;
    color: #5E6469;
    font-weight: bold;
  }
  #maker1_input, #maker2_input {
    width: 170px;
  }
  #split_btn {
    margin-left: 36%;
  }
}

.pipe-list {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;

    &::after {
      content: ' | ';

    }
    &:last-child::after {
      content: '';
    }
  }
}

@-webkit-keyframes rotating {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.loading::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #44484b;
  background-color: white;
  margin-left: 0.5ex;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

#misspell_fixable_result {
  position: fixed;
  left: 0;
  top: 0;
  padding: 8px;
  font-weight: bold;
  z-index: 100;

  &.error { background-color: lightcoral; }
  &.success { background-color: lightgreen; }
}
.misspell-fixable-area {
  small a {
    color: lightgray;
  }
}
