.user_activities {
  .lead, .boat_view {
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .lead { color: red; }

  .boat_view { color: green; }

  .centered {
    background-color: #bbb;
    margin-bottom: 10px;
    padding: 0 5px;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
    color: white;
    letter-spacing: 0.15em;
  }
}
