check process solr_rightboat matching ".*solr.*"
group search
start program = "#{solr_cmd % {cmd: 'start'}}"
stop  program = "#{solr_cmd % {cmd: 'stop'}}"
-#if failed host localhost port 8983 then restart
if 5 restarts within 5 cycles then timeout
