- content_for :header_text do
  .navbar-h My <strong>Rightboat</strong>

.member-content(data-view-layout="list")
  %h1 My Favourites
  %hr
  - if @favourites.blank?
    .alert.alert-info
      %h4.no-margin You have no boats booked yet.
  - else
    #favourites.row
      - @favourites.each do |favourite|
        - if boat = favourite.boat
          = render layout: 'member/shared/boat', locals: {boat: boat, share_enabled: true} do
            .boat-links.boat-links-bottom
              .boat-price
                %span(data-attr-name='price')= boat_price(boat)
                %span.tax-status.small= boat.tax_paid? ? 'Tax paid' : ''
              = link_to 'Request Details', '#', class: 'btn-flat pull-right btn-black request-details'
