html, body { margin: 0; padding: 0; }
a { color: #60bbff; }

.rb-table { width: 100%; border-collapse: collapse; margin: 1em 0; }
.rb-table th, td { padding: 4px 8px; }
.rb-table th { border-bottom: 2px solid #60bbff; }
.rb-table td { border-top: 1px solid #60bbff; }
/*.rb-table td.total-row { border-top-width: 2px; font-weight: bold; }*/
/*.text-right { text-align: right; }*/
/*.text-center { text-align: center; }*/