.maker-overview {
  display: -webkit-flex;
  display: flex;
  position: relative;

  @media (max-width: @screen-xs-max) {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
}
.maker-overview-logo {
  width: 150px;
  height: 100px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;

  @media (min-width: @screen-sm-min) {
    margin-right: 15px;
  }
  img {
    width: inherit;
    height: inherit;
  }
}
.maker-overview-text {
  -webkit-align-self: center;
  align-self: center;
}
