[data-layout-mode="gallery"] {
  // col-md-4 col-sm-6 col-xs-12
  @media(min-width: @screen-md-min) {
    .boat-thumb-container:nth-child(3n+1) { clear: both; }
  }
  @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .boat-thumb-container:nth-child(2n+1) { clear: both; }
  }

  .boat-thumb.thumbnail {
    .boat-location {
      height: 54px;
    }
  }
}
[data-layout-mode="thumbnail"] {
  .boat-thumb.thumbnail {
    .caption { height: 90px; padding: 10px; }
    h4, h5 {
      font-size: 0.9em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h5 { margin-bottom: 0; }
    .boat-price {
      float: none !important;
      text-align: left;
      font-size: 0.85em;
    }
    .boat-length, .boat-year, .boat-location{
      display: none;
    }
    .boat-links-bottom {
      .action-links { display: none;}
      .view-summary {
        &:extend(.btn-xs);
        font-size: 75%;
      }
    }
  }

  @media(min-width: @screen-md-min) {
    .boat-thumb-container {
      width: 16.6667%;

      &:nth-child(6n+1) {
        clear: both;
      }
    }
  }
  @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .boat-thumb-container:nth-child(2n+1) { clear: both; }
  }
}
.modal {
  [data-layout-mode="thumbnail"] {
    @media(min-width: @screen-md-min) {
      .boat-thumb-container {
        width: 33%;

        &:nth-child(3n+1) {
          clear: both;
        }
      }
    }
    @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      .boat-thumb-container:nth-child(2n+1) { clear: both; }
    }
  }
}

[data-layout-mode="list"] {
  .boat-thumb-container {
    width: 100% !important;
  }
  .boat-thumb.thumbnail {
    display: table;
    width: 100%;
    .boat-img-thumb, .caption {
      display: table-cell;
      vertical-align: top;
      position: relative;
      @media(max-width: @screen-sm-min) { font-size: 16px; }
    }
    .boat-img-thumb { width: 256px}
    h4, h5 {font-size: 18px; display: inline-block; margin-bottom: 2px;}
    h4 {margin-right: 8px;}

    .boat-links-bottom { position: absolute; left: 0; bottom: 0; width: 100%; padding: 15px }

    @media(max-width: @screen-sm-max) {
      .caption { padding: 6px; }
      .boat-links { padding: 6px; }
    }
    @media(max-width: 545px) { // buttons can't be located in an one row
      display: block;
      .boat-links { position: relative; padding: 0; }
      .boat-img-thumb { width: 100% }
      .boat-img-thumb, .caption { display: block;}
    }
    @media(min-width: @screen-md-min) {
      .boat-links-bottom {
        .action-links {
          position: relative;
          top: 10px;
        }
      }
    }
  }
}

.boat-thumb.thumbnail.multiselectable {
  .tick{
    display: none;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    opacity: 0.5;
    .glyphicon{
      text-shadow: 0px 1px 0px #aaa;
    }
  }
  &.selected, &.thumbnail:hover {
    border: 1px solid @rb-color-primary;
    background: @rb-color-primary;
    .caption {
      color: #FFF;
      .fav-link, .share-link {
        color: white;
      }
    }
    .tick {
      display: block;
    }
  }
  &.selected {
    .tick {
      color: @rb-color-mint;
      opacity: 1;
      .glyphicon {
        text-shadow: 0px -1px 0px #aaa;
      }
    }
  }
}

.boat-thumb.thumbnail {
  .assign-gutter(margin-bottom);
  border: 1px solid #cccccc;
  h4, h5 {
    line-height: 1.2em;
    margin: 0;
  }
  h5 {
    margin-bottom: 8px;
  }
  .small {
    font-size: 12px;
  }
  .tax-status { font-size: 14px; margin-left: 1ex; }
  .boat-detail-item {
    &:not(:last-child) {margin-right: 10px;}
  }
  &, & .caption {
    .transition(all .25s ease-out);
  }
  &:hover {
    border: 1px solid @rb-color-primary;
    background: @rb-color-primary;
    .caption {
      color: #FFF;
      .fav-link, .share-link {
        color: white;
      }
      > a {
        color: white;
      }
    }
  }
  .tick{
    display: none;
  }
}

.boat-price {
  display: inline-block;
}

.boat-links {
  a:hover {
    text-decoration: none;
  }
}

.fav-link, .share-link {
  &:not(.remove-fav) {
    margin-right: 13px;
  }

  &:before {
    display: inline-block;
    font-family: 'fontello';
    font-size: 25px;
    margin-right: 3px;
    vertical-align: middle;
  }
}

.remove-fav {
  font-size: 30px;
  line-height: 15px;
  vertical-align: -4px;
  display: none;

  &:focus {
    text-decoration: none;
  }

  #favourites-index & {
    display: inline-block;
  }
}

a.fav-link:not(.remove-fav):before {
  content: '\e807';
}
a.fav-link.active:not(.remove-fav):before {
  content: '\e809';
}

.share-link {
  color: @rb-color-primary;
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:before { content: '\e808'; }
  &:hover {
    .share-platforms {
      opacity: 1;
    }
  }

  .share-platforms {
    background-color: @rb-color-yellow;
    opacity: 0;
    position: absolute;
    left: -9px;
    top: -26px;
    width: 86px;
    border-radius: 3px;
    transition: all .3s ease-in-out;

    a {
      font-size: 18px;
    }

    .icon-facebook-squared { color: rgb(76, 112, 167) }
    .icon-twitter-squared { color: rgb(47, 186, 253) }
    .icon-mail { color: gray }
  }
}

.boat-img-thumb {
  position: relative;
  overflow: hidden;
  &.under-offer, &.sold {
    &::before {
      background-repeat: no-repeat;
      background-size: 120px 120px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 120px;
      height: 120px;
      z-index: 1;
    }
  }
  &.under-offer::before { background-image: image-url('strip-under-offer.png'); }
  &.sold::before { background-image: image-url('strip-sold.png'); }

  img {
    .overlay { display: none; }

    width: 100%;
    .transition(all .25s ease-out);

    &:hover {
      transform: scale(1.2);
    }
  }
}

a.pdf-link {
  margin-right: 4px;
  position: relative;
  padding-right: 35px;

  i {
    display: block;
    content: ' ';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background: image-url('sprites.png') no-repeat -31px -104px;
  }
}

.boat-vertical-thumb a {
  h4 {
    font-weight: normal;
  }
  p {
    margin: 0;
    line-height: 1.3em;
  }
  img {
    width: 100%;
  }
  .caption {
    background: rgba(255, 255, 255, 0.7);
    bottom: -100%;
    left: 0;
    height: 100%;
    padding: 15px;
    position: absolute;
    .transition(all .25s ease-out);
    width: 100%;
  }
  color: @rb-color-dark;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  .transition(all .25s ease-out);
  &:not(:last-child) {
    border-bottom: 1px solid #FFF;
    @media (min-width: @screen-sm-min) {
      border-bottom: 0;
      border-right: 1px solid #FFF;
    }
  }

  &:hover {
    text-decoration: none;
    .caption {
      bottom: 0;
    }
  }
}
.no-image {
  background: #f0f0f0 image-url('awaiting-image.png') no-repeat center center;
  padding-bottom: 66.66%;
}

#boats-show {
  #content-wrapper h1 {
    margin-top: 18px;
    font-weight: normal;
    color: @rb-color-dark;
    font-size: 50px;
    @media (max-width: @screen-sm-max) {
      font-size: 40px;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 30px;
    }
  }

  #slider {
    .slick-list {
      overflow: visible;
    }

    .slick-track {
      height: 300px;
    }

    .slick-slide {
      display: table-cell;
      float: none;
      white-space: nowrap;
      text-align: center;
      vertical-align: middle;

      > a {
        display: block;
        padding: 0 1px;
      }

      img {
        display: block;
        width: auto;
        max-height: 300px;
      }
    }

    .slick-prev, .slick-next {
      border-radius: 6px;
      height: 60px;
      width: 60px;
      background-color: rgba(0, 0, 0, .4);
      top: -webkit-calc(50% + - 10px);
      top: calc(50% + - 10px);
    }
  }

  #main_content {
    color: @rb-color-dark;
    h1 {font-size: 26px; font-weight: bold;}

    .boat-header {
      background-color: @rb-color-primary;
      color: white;
      margin-bottom: 30px;
      padding: 6px;

      .inline {
        margin-left: 15px;
      }
    }

    .boat-footer {
      padding-bottom: 30px;
    }

    .truncated-description {
      color: @rb-color-primary;
    }
  }
}

.boat-description {
  font-size: 20px;
  margin-bottom: 28px;
  h1 {font-size: 24px; font-weight: 300;}
  h2 {font-size: 22px; font-weight: 300;}
  h3 {font-size: 22px; font-weight: normal;}
  dt, dd {font-size: 16px; padding: 4px 10px; }
  dl.dl-horizontal {
    margin-bottom: 0;
    dt {
      float: left;
      text-align: left;
      width: 140px;
    }
    dd {
      margin-left: 140px;
    }
  }
  .boat-specs > dl:nth-of-type(odd) {
    background-color: rgb(232, 245, 255);
  }

  @media(min-width: @screen-md-min) {
    .boat-specs .row:nth-of-type(odd) {
      background-color: rgb(232, 245, 255);
    }
  }

  @media(max-width: @screen-sm-max) {
    .boat-specs .row > div:nth-of-type(odd) {
      background-color: rgb(232, 245, 255);
    }
  }
}

.display-options li {
  display: inline-block;
}

.call-action {
  background-color: @rb-color-yellow;
  border: 1px solid @rb-color-brown;
  border-radius: 3px;
  font-size: 0.7em;
  margin-top: 3em;
  padding: 0.7em;

  h5 {
    text-decoration: underline;
  }
}

.pswp__bg {
  opacity: 0.9 !important;
}

.pswp__button--arrow--left, .pswp__button--arrow--right {
  &:before {
    background-image: none !important;
    font-family: "fontello";
    font-size: 40px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#pswp-icons {
  display: none;
}

.pswp__button--arrow--left:before {
  content: '\e803';
}

.pswp__button--arrow--right:before {
  content: '\e804';
}

.js-pswp-show-grid {
  background: none;
}

.pswp__button .icon {
  width: 22px;
  height: 44px;
  pointer-events: none;
  fill: currentColor;
}

.pswp__caption {
  display: none;
}

.pswp__button--grid-off, .pswp__button--grid-on {
  background: none;
  color: white;
}

.pswp__thumbnail-wrap {
  background: transparent;
  padding: 8px;
  position: relative;
  width: 100%;
  height: -webkit-calc(100% + - 100px);
  height: calc(100% + - 100px);
  top: 88px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pswp__thumbnail-viewer__container {
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.pswp-thumbnail {
  display: inline-block;
  padding: 8px;
  width: 12.5%;

  .img-wrap-outer {
    width: 100%;
    height: 0;
    padding-bottom: 66.6668%;
    position: relative;
  }

  .img-wrap-inner {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.pswp.thumbnail-mode {
  .pswp__thumbnail-wrap {
    opacity: 1;
    visibility: visible;
  }

  .pswp__container {
    display: none;
  }

  .pswp__button--arrow--left, .pswp__button--arrow--right {
    display: none;
  }
}

#select-map {
  width: 100%;
  height: 200px;
}

@media(max-width: @screen-xs-max) {
  #carousel { display: none; }
}

@media(max-width: @screen-lg-min) {
  .boat-vertical-thumb a .caption { bottom: 0; }
}

@media(max-width: @screen-md-min) {
  .pswp-thumbnail { width: 25%; }
}

@media (min-width: @screen-sm-min) {
  .page-links li {
    display: inline-block;
  }
}

@media (max-width: @screen-xs-max) {
  .page-links {
    margin: 5px -8px;

    li {
      text-align: center;
    }
  }
}
