#rb-advantages {
  .rb-advantage {
    text-align: center;

    .caption {
      font-size: 4em;
      line-height: 530px;
    }
  }

  .slick-dots li button:before {
    font-size: 18px;
  }

  .slick-dots {
    bottom: 1.5em;
  }
}