#rb-advantages {
  .rb-advantage {
    text-align: center;
    &:extend(.bg-cover);

    .caption {
      color: white;
      font-size: 2.4em;
      height: 280px;
      padding-top: 110px;
      text-align: center;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
  }

  .slick-dots li button:before {
    font-size: 18px;
  }

  .slick-dots {
    bottom: 1.5em;
  }
}

#home-welcome_broker_us, #home-welcome_broker {
  background-color: #e3f0fa;

  #content-wrapper {
    background-color: transparent;
  }
}