.four-columns {
  column-count: 4;
  -moz-column-count: 4;
  -webkit-column-count: 4;
}
abbr {
  text-decoration: none;
}

#main-content {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

.bold-link {
  font-weight: bold;
  text-decoration: underline;
}

.p {
  margin: 0 0 11px;
}

.open-popup-text {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.secondary-popup {
  .modal-content {
    background-color: @rb-color-dark;
  }
}

.checks-list {
  list-style-type: none;

  li {
    background: image-url('checked-box.png') no-repeat left top;
    padding: 0.3em 0 0.3em 25px;
    margin: 0;
  }
}

.modal-body {
  p {
    a { text-decoration: underline; }
  }
}

.filters-box {
  background-color: #fcf8f9;
  font-size: 0.9em;
  padding: 20px 10px;
  margin-bottom: 30px;

  h3 {
    color: #989898;
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0 0 8px 0;
  }
  small {
    color: lightgray;
  }
}

.column-count(@count) {
  column-count: @count;
  -moz-column-count: @count;
  -webkit-column-count: @count;
}

.flex-six-columns {
  .column-count(2);
  @media (min-width: @screen-sm-min) { .column-count(3); }
  @media (min-width: @screen-md-min) { .column-count(4); }
  @media (min-width: @screen-lg-min) { .column-count(6); }

}