#enquiry-popup, #enquiry-result-popup {
  .modal-content {
    background: @rb-color-primary;
  }

  .form-group {
    margin-bottom: 12px;
  }

  .form-control {
    height: auto;
  }
  .select2-container.select-sm > a {
    font-size: 14px;
    font-weight: 300;
  }
  .select2-container {
    margin: 1px 0 15px 0;

    &.country-code-select {
      min-width: 150px;
    }

    .select2-choice {
      height: 30px;
      text-decoration: none;
    }
  }

  .btn-flat {
    background: white;
    width: 100%;
    padding: 4px 0;
  }
  textarea.form-control {
    height: 120px;
    resize: none;
  }

  .modal-body h1 { font-size: 30px; margin: 0 0 12px; }
  .modal-body h3 { font-size: 20px; margin: 0; }
  .modal-body p { font-size: 16px; }
  a { color: #FFF; text-decoration: underline; }
  h4.text-center {
    padding: 10px 20px;
    font-size: 16px;
  }
  .similar-boats.row {
    margin-left: -8px !important;
    margin-right: -8px !important;
    a {
      position:relative; display: block; width: 100%; height: 0; padding-bottom: 78.74%;
      img { position: absolute; top: 0; left: 0; width: 100%; height: auto;}
    }
  }
  .similar-boats *[class^=col-] {
    padding: 8px !important;
  }
}