#home-index, .member-area {
  #top-navbar {
    height: 0;
    min-height: 0;
  }

  .hero-image {
    background-color: #90abcd;
    .bg-cover;
  }
}

#home-index {
  .flash-container {
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 1000;

    .close {
      color: #f0ad4e;
      line-height: 13px;
      right: 25px;
    }
  }

  .hero-image {
    height: 550px;
    background-position: center;
  }
}

.member-area {
  .hero-image {
    background-image: image-url('member-page-bg.png');
    height: 480px;
  }
}

.rb-brief {
  max-width: 1020px;
  margin: 30px auto;
  color: @rb-color-dark;
  line-height: 1.4em;
  h2 { font-size: 34px; }
  margin-bottom: 2em;
}

#recent-boats {
  margin-top: 50px;

  h3 {
    margin-bottom: 15px;
  }
}

#newest-boats {
  .AzureSection();
  max-height: 276px;
  overflow-y: hidden;

  .slick-nav {
    padding-right: 60px;
    padding-left: 60px;
  }

  .slick-track > a {
    height: 100%;
    text-decoration: none;
  }

  .caption { visibility: hidden; }
  .slick-initialized .caption { visibility: visible; }

  .caption {
    color: @rb-color-dark;
    padding: 6px;

    .p, .h4 { display: block; }
    .p {
      margin-bottom: 6px;
    }

    &:hover, &:active, &:focus {
      background-color: @rb-color-dark;
      color: white;
    }
  }
}

.last-row-pad {
  padding-bottom: 15px;
}

.reset-search-form {
  cursor: pointer;
}

#welcome_popup {
  .modal-dialog {
    max-width: 500px;
  }
  .checks-list {
    max-width: 210px;
    margin: 0 auto 1.5em;
  }
}

.featured-manufacturers {
  margin-bottom: 5px;

  h3 {
    .AzureSection();
    margin-bottom: 15px;
  }
}

.manufacturer-cards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -6px;
}
.manufacturer-card {
  transition: transform .25s ease-out;
  padding: 0 6px 10px;
  -webkit-align-self: stretch;
  align-self: stretch;
  @media (max-width: @screen-xs-max) { flex-basis: 100%/4; }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { flex-basis: 100%/6; }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { flex-basis: 100%/8; }
  @media (min-width: @screen-lg-min) { flex-basis: 100%/12; }

  &:hover {
    transform: scale(1.15);
  }
}
.manufacturer-card-link {
  display: block;
  border: 1px solid lightgray;
}
.manufacturer-card-title {
  font-size: 75%;
  color: #666;
  padding: 4px;
  text-align: center;
}
