body {
  //padding-top: 98px;
  background: @rb-color-dark;
  color: @rb-color-dark;
  -webkit-overflow-scrolling: touch;
  max-width: 1280px;
  margin: 0 auto;
}

html, body {
  font-family: "Freight Sans", "Open Sans", arial, sans-serif;
}

#content-wrapper {
  background: #FFF;
}
#main-content {
  &.container {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
#featured-boats {
  .assign-gutter(margin-bottom);
}

a, a:hover, a:active, a:focus {
  outline: none;
}

.cookies-warning {
  border: none;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;

  .wrapper {
    background: #fefce1;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #999999;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 40px;
    position: relative;

    .glyphicon {
      color: #7eb3da;
      font-size: 22px;
      left: 20px;
      position: absolute;
      top: 50%;
      line-height: 0;
    }

    .close {
      color: #999999;
      font-size: 30px;
      line-height: 0;
      position: absolute;
      right: 20px;
      top: 50%;
    }
  }
}

#google_translate_element {
  margin-top: 10px;
}