.member-ref-links {
  line-height: 1.4em;
  padding-bottom: @form-group-margin-bottom;
}

.member-right {
  .btn-flat.btn-block {
    border-color: @rb-color-dark;
    font-weight: bold;

    &:hover, &:focus, &:active, &.active {
      background-color: @rb-color-dark;
      border-color: @rb-color-dark;
      color: white;
    }
  }
  h1 {
    margin-top: 0;
  }
}

#boat-images {
  .nested-fields {
    display: table;

    > div {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .member-ref-links {
    line-height: 2.4em;
  }

  .form-actions {
    position: absolute;
    max-width: 250px;
    bottom: @form-group-margin-bottom; left: 70%;
  }
}
