.member-ref-links {
  line-height: 1.4em;
  padding-bottom: @form-group-margin-bottom;
}

.member-right {
  .btn-flat.btn-full {
    font-weight: bold;

    &:hover, &:focus, &:active, &.active {
      background-color: @rb-color-dark;
      color: white;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .member-ref-links {
    line-height: 2.4em;
  }

  .form-actions {
    position: absolute;
    max-width: 250px;
    bottom: @form-group-margin-bottom; left: 50%;
  }
}
