.navbar {
  border: 0;
  color: #FFF;
}

.navbar-brand {
  height: auto;
}
h1.navbar-brand {
  cursor: default;
  font-size: 36px;
  line-height: 1em;
}
.navbar-toggle {
  background-color: rgba(96, 187, 255, 0.9);
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 3000;
}
#top-navbar .navbar-header {
  overflow: visible;
  padding-left: 118px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1000;
}
#top-navbar {
  background: image-url('navbar-bg1.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .container {position: relative;}
  h1, .navbar-h {
    font-weight: normal;
    font-size: 32px;
    line-height: 1em;
    margin: 15px 0 5px 0;
  }
  h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 1em;
    margin: 0;
  }
}
a.navbar-brand {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#navbar-links {
  font-weight: bold;
  @media (min-width: @grid-float-breakpoint) {
    li:not(:last-child) {

      &:after {
        display: inline-block;
        content: ' ';
        height: @line-height-base * @font-size-base;
        border-right: 1px solid #FFF;
        position: absolute;
        top: @navbar-padding-vertical;
        right: 0;
      }
    }
  }
}
#navbar.in, #navbar.collapsing {
  background: @rb-color-primary;
  @media (min-width: @grid-float-breakpoint) {
    background: transparent;
  }
}
.page-links .nav-link {
  background-color: #2d83a8;
  color: white;
  padding: 2px 6px !important;
  text-decoration: none;
  margin-top: 8px;
  @media(min-width: @screen-sm-min) {
    margin-left: 5px;
  }

  &:hover, &:focus {
    background-color: #2d83a8 !important;
    color: white;
  }
}
.view-mode-icon {
  vertical-align: top;
  margin-top: 1px;
}
.nabvar-tools {
  color: @rb-color-dark;
  background-color: @rb-color-primary;

  @media(min-width: @screen-sm-min) {
    form, .nav.navbar-nav:first-child {margin-left: 98px;}
  }

  @media(max-width: @screen-xs-max) {
    form, .nav.navbar-nav:first-child {margin-top: 10px;}
  }

  label {
    line-height: @line-height-base;
    font-weight: normal;
    vertical-align: middle;
  }

  .navbar-text {
    margin-right: 0;
    margin-top: 6px;
    margin-bottom: 6px;

    span {
      color: @rb-color-dark;
      vertical-align: middle;
      margin-right: 1ex;
    }
  }

  .selectize-control {
    min-width: 62px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 3px;
  }
  .select-dark .selectize-input {
    padding: 2px 8px;
    background-color: #fff !important;
  }

  .boat-sorting-select {
    min-width: 150px;
  }
}

.navbar-nav > li {
  .nav-link {
    line-height: 22px;
    position: relative;
    display: block;
  }

  &.rb-dropdown {
    .dropdown-menu {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 15px;
      margin-top: -5px;
      min-width: 50px;
      width: 100%;

      li a {
        color: white;
        font-weight: 500;
        text-align: center;

        &:hover {
          background: transparent;
          //color: @rb-color-primary;
        }
      }
    }
  }
}

.navbar-form {
  position: relative;

  .form-control {
    padding-right: 22px;
  }

  [type="submit"] {
    background: transparent;
    border: none;
    color: gray;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 5px;
  }
}

@media(min-width: @screen-sm-min) {
  .navbar-nav > li {
    &.rb-dropdown.open {
      > a, > a:hover, > a:focus {
        color: @rb-color-primary;
      }
    }
  }
}

@media(max-width: @screen-sm-min) {
  .navbar-nav > li {
    &.rb-dropdown .dropdown-menu {
      display: block;
      padding: 0;
      position: relative;
      top: auto;
      float: none;

      li a {
        text-align: left;
      }
    }
  }

  .navbar-collapse {
    border-top: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    margin: 0 !important;
    z-index: 2000;

    .navbar-right {
      padding-top: 40px;
      padding-bottom: 25px;

      li {
        display: block !important;
        a {
          padding: 20px 36px;
        }
      }
    }
  }

  #top-navbar h1, #top-navbar .navbar-h {
    font-size: 23px;
  }

  .navbar-form [type="submit"] {
    right: 11px;
    top: 12px;
  }
}
