.search-bar {
  .AzureSection();
  min-height: 42px;

  .flat-list {
    margin: 3px 0 3px auto;

    @media(min-width: @screen-sm-min) {
      &:not(:first-child) { padding-left: 1ex; }
    }
  }

  @media(min-width: @screen-sm-min) {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 42px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    ul:first-child {
      margin-left: 119px;
    }
    ul:last-child {
      margin-right: 0;
    }
  }

  .search-bar-display-options {
    @media (min-width: @screen-sm-min) {
      li:not(:first-child) { margin-left: 1.5ex; }
    }
  }
  label {
    vertical-align: middle;
    margin: 0 1ex 0 0;
  }
  .selectize-control {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 3px;
  }
  .select-dark .selectize-input {
    padding: 2px 28px 2px 8px;
  }
  .boat-sorting-select {
    min-width: 150px;
  }
}

.search-bar-btn {
  background-color: #2d83a8;
  color: white;
  position: relative;
  padding: 2px 6px !important;
  text-decoration: none;
  line-height: 22px;

  &:hover, &:focus, &:active {
    text-decoration: none;
    background-color: #276a8e !important;
    color: white;
  }

  @media (min-width: @screen-sm-min) {
    display: inline-block;
  }
  @media (max-width: @screen-xs-max) {
    display: block;
  }
}
