.modal-login {
  h2 { margin-bottom: 18px;}
  .trader-hint a, #forgot-link {
    text-decoration: underline;
  }
  ul {
    margin-left: 20px;
    margin-bottom: 30px;
    &, li {
      list-style: outside;
    }
  }

  .trader-hint {
    padding-top: 34px;
    color: #FFF;
    text-align: center;
  }

  .btn-flat.user-register {
    color: @rb-color-primary;

    &:hover {
      color: @rb-color-dark;
    }
  }


}

@media (max-width: @screen-xs-max) {
  #split-row > div:first-child {
    padding-bottom: 25px;
    border-bottom: 1px solid @rb-color-primary;
  }
  #split-row > div:last-child {
    padding-top: 25px;
  }
}

@media (min-width: @screen-sm-min) {
  #split-row > .col-sm-6:first-child {
    padding-right: 55px;
    border-right: 1px solid @rb-color-primary;
    border-right: 1px solid white;
    position: relative;

    &:after {
      background: @rb-color-primary;
      content: 'OR';
      color: white;
      position: absolute;
      right: -20px;
      top: 0;
      width: 40px;
      text-align: center;
      font-size: 31px;
      padding: 20px 0;
    }
  }
  #split-row > .col-sm-6:last-child {
    padding-left: 55px;
  }
}