.modal-login {
  h2 { margin-bottom: 18px;}
  .trader-hint a, #forgot-link {
    text-decoration: underline;
  }
  ul {
    margin-left: 20px;
    margin-bottom: 30px;
    &, li {
      list-style: outside;
    }
  }

  .trader-hint {
    padding-top: 34px;
    color: #FFF;
    text-align: center;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    & + label:before {
      background-color: white;
    }
  }

  .btn-flat.user-register {
    color: @rb-color-primary;

    &:hover {
      color: @rb-color-dark;
    }
  }
}

@media (max-width: @screen-xs-max) {
  #split-row > div:first-child {
    padding-bottom: 25px;
    border-bottom: 1px solid @rb-color-primary;
  }
  #split-row > div:last-child {
    padding-top: 25px;
  }
}

@media (min-width: @screen-sm-min) {
  #split-row > div:first-child {
    padding-right: 55px;
    border-right: 1px solid @rb-color-primary;
  }
  #split-row > div:last-child {
    padding-left: 55px;
  }
}