- content_for :header_text do
  .navbar-h Boats <strong>For Sale</strong>

= render 'shared/search_bar'

#main-content.container
  %h1 Manufacturers by #{@letter}
  %ol
    - @manufacturers.each do |m|
      %li #{link_to m.name, manufacturer_boats_explicit_path(m.slug)}