- content_for :header_text do
  .navbar-header Boats <strong>For Sale</strong>

= render 'shared/search_bar'

#main-content.container
  %h1 #{@manufacturer.name}
  .row(data-view-layout="list")
    - @boats.each do |b|
      = render layout: 'boats/boat', locals: {boat: b} do
        -#