.form-group.m-ft-field
  %label
    = label_text
    %input.m-input(type="number" step="0.01" name="#{name}" value="#{value}")
  m
  <=>
  %input.ft-input(type="number" step="1")
  ft
  %input.in-input(type="number" step="1")
  in
